@{
    Layout = null;
}
@model IEnumerable<MyMVCBlog.Models.Tag>

<div class="widget blog-tags">
    <h5>Tag</h5>
       <ul>
           @foreach(var item in Model){
              
            <li><a href="/Tag/Index/@item.ID" class="btn btn-default">@item.Name (@item.Articlees.Count)</a></li>  
                
           }

       </ul>
</div>